<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nz.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="org.nz.bean.Admin">
    <id column="adminId" jdbcType="CHAR" property="adminId" />
    <result column="adminname" jdbcType="VARCHAR" property="adminname" />
    <result column="adminpwd" jdbcType="VARCHAR" property="adminpwd" />
  </resultMap>
  <sql id="Base_Column_List">
    adminId, adminname, adminpwd
  </sql>
  <!-- 通过用户名查用户 -->
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from t_admin
    where adminname = #{adminname,jdbcType=CHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_admin
    where adminId = #{adminId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_admin
    where adminId = #{adminId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.nz.bean.Admin">
    insert into t_admin (adminId, adminname, adminpwd
      )
    values (#{adminId,jdbcType=CHAR}, #{adminname,jdbcType=VARCHAR}, #{adminpwd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.nz.bean.Admin">
    insert into t_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        adminId,
      </if>
      <if test="adminname != null">
        adminname,
      </if>
      <if test="adminpwd != null">
        adminpwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=CHAR},
      </if>
      <if test="adminname != null">
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null">
        #{adminpwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.nz.bean.Admin">
    update t_admin
    <set>
      <if test="adminname != null">
        adminname = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpwd != null">
        adminpwd = #{adminpwd,jdbcType=VARCHAR},
      </if>
    </set>
    where adminId = #{adminId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.nz.bean.Admin">
    update t_admin
    set adminname = #{adminname,jdbcType=VARCHAR},
      adminpwd = #{adminpwd,jdbcType=VARCHAR}
    where adminId = #{adminId,jdbcType=CHAR}
  </update>
</mapper>