<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 开启二级缓存 -->
		<setting name="cacheEnabled" value="true" />
		<setting name="logImpl" value="LOG4J" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!-- 设置别名 -->
	<typeAliases>
		<!-- 单独指定一个类 -->
		<!-- <typeAlias type="com.zy.model.User" alias="a"/> -->
		<!-- 指定一个包，包下的别名就是类名 -->
		<package name="org.nz.bean" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- config params as the following -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>
</configuration>